//-------------------------------------------------------------------------------//
//---RESPONSIVE MIXINS-----------------------------------------------------------//
//-------------------------------------------------------------------------------//


// Primary Media Query Mixin
//-------------------------------------------------------------------------------

// Durable media query mixin that can take in multiple arguments. Simply call
// "null" in for any arguments you don't want to use, or declare the variable
// you do want to use when including the mixin
// ---
// @param {number} $min-width
// @param {number} $max-width
// @param {number} $retina [2 | 3]
// @param {string} $orientation [portrait | landscape]
// @param {number} $min-height
// @param {number} $max-height
// ---
@mixin bp($min-width: null, $max-width: null, $retina: null, $orientation: null, $min-height: null, $max-height: null) {

    @if (type-of($min-width) == "number" and unit($min-width) == "px") {
            $min-width: px2em($min-width);
    }
    @if (type-of($max-width) == "number" and unit($max-width) == "px") {
            $max-width: px2em($max-width);
    }

    $breakpoints: ($min-width, 'and (min-width: #{$min-width})'),
                  ($max-width, 'and (max-width: #{$max-width})'),
                  ($retina, 'and (-webkit-device-pixel-ratio: #{$retina})'),
                  ($orientation, 'and (orientation: #{$orientation})'),
                  ($min-height, 'and (min-height: #{$min-height})'),
                  ($max-height, 'and (max-height: #{$max-height})');

    $media-query: null;

    @each $bp, $mq in $breakpoints {
        @if $bp != null {
            $media-query: append($media-query, unquote($mq), space);
        }
    }

    @media screen #{$media-query} {
        @content;
    }
}


// Fluid Typography Mixin
//-------------------------------------------------------------------------------

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    font-size: $min-font-size;

    @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-units($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-units($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
    }
}


// Hide/Show depending on Resolution Mixin
//-------------------------------------------------------------------------------

// Hides content for either desktop or mobile devices
// ---
// @param {string} $hidden [desktop | mobile]
// @param {number} $break
// @param {string} $display [block | inline-block | inline]
// ---
@mixin hide($hidden: desktop, $break: 64em, $display: block) {
    @if $hidden == desktop {
        display: $display;
        @media screen and (min-width: #{$break}) { display: none; }
    }
    @else if $hidden == mobile {
        display: none;
        @media screen and (min-width: #{$break}) { display: $display; }
    }
    @else { display: none; }
}