//-------------------------------------------------------------------------------
// Buttons
//-------------------------------------------------------------------------------

.button {
    background-color: #4776E6;
    margin-top: 2em;
    padding: 1em 1.25em;
    display: inline-block;
    border: none;
    border-radius: 0.25em;
    box-shadow: $box-shadow;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease-out;

    &:hover,
    &:focus {
        background-color: $grey;
    }
}

.button--small {
    margin-top: 2.5em;
    font-size: 0.65em;
}